
<h1>Ingredients</h1>
<h2>Serves: 2</h2>

<ol>
    <li>1.5 cups gram flour</li>
    <li>2 tbsp onion, finely chopped</li>
    <li>2 tbsp carrot, grated</li>
    <li>1 nos tomato, chopped</li>
    <li>2-3 tbsp spicy fried peanuts</li>
    <li>1/2 tsp chaat masala</li>
    <li>1/4 tsp jeera powder</li>
    <li>1/4 tsp sprig smoked paprika</li>
    <li>Pinch of sprig celery sea salt</li>
    <li>3 tbsp yogurt</li>
    <li>1/4 tsp dates chutney / sweet chutney</li>
    <li>1/4 tsp mint chutney</li>
    <li>2 nos coriander leaves chopped (to garnish)</li>
    <li>5 nos pomegranate seeds</li>
    <li>1/4 cups rice flour</li>
    <li>Pinch of cooking soda (sodium bicarbonate)</li>
    <li>1 drop of Sprig all natural extracts (food and beverage colours)</li>
    <li>100 gms oil for frying</li>
    <li>1 cups boondi</li>
</ol>

<h1>Directions</h1>

<ol>
    <li>To Make the Coloured Boondi:
        <ol>
            <li>In a mixing bowl, mix both flours, salt, and cooking soda with water to make a thick batter. The consistency should be like bajji batter.</li>
            <li>Separate the batter into 3 bowls and add a drop of each Sprig All Natural Extracts (Food and Beverage Colours) separately into the bowls.</li>
            <li>Heat the oil and use a big slotted spoon to make boondis. Once crisp, drain them on a paper towel. The coloured boondis are now ready.</li>
        </ol>
    </li>
    <li>To Make the Boondi Chaat:
        <ol>
            <li>In a mixing bowl, mix the onion, tomato, fried peanuts, chaat masala, jeera masala, Sprig Smoked Paprika powder, and Sprig Celery Sea Salt.</li>
            <li>Add the crispy coloured boondi to it and gently toss.</li>
            <li>Transfer masala boondi to a serving plate. Top it with some yoghurt, mint – dates chutney and garnish with coriander leaves and pomegranate chutney.</li>
            <li>Enjoy the lip-smacking boondi chaat immediately.</li>
        </ol>
    </li>
</ol>
