<div class="container">
    <h1>Ingredients</h1>
    <ol>
      <li>2 cups all-purpose flour</li>
      <li>140g chopped dark or semi-sweet chocolate</li>
      <li>1/2 cup strong coffee at room temperature</li>
      <li>1/2 cup heavy cream</li>
      <li>4 eggs at room temperature</li>
      <li>200g soft unsalted butter</li>
      <li>1/2 teaspoon baking soda</li>
      <li>1/2 teaspoon salt</li>
      <li>1 3/4 cups sugar</li>
      <li>2 teaspoons Sprig Natural vanilla extract</li>
      <li>1.5 teaspoons baking powder</li>
      <li>1/2 cup cocoa powder (additional for dusting)</li>
      <li>2 cups chopped white chocolate</li>
      <li>1 cup single cream</li>
      <li>1 cup Nutral or Glaze gel</li>
      <li>5-6 drops white food coloring (or as required)</li>
      <li>2-3 drops red food coloring</li>
    </ol>
  
    <h1>Directions</h1>
    <ol>
      <li>Grease two cake pans with butter and cocoa powder. Dust off excess and preheat oven to 160°C.</li>
      <li>Sieve flour, baking powder, cocoa powder, baking soda, and salt. Keep it aside.</li>
      <li>Heat cream and coffee in a bowl. Add this mixture to chopped chocolate. Rest for 1 minute.</li>
      <li>Add vanilla extract and whisk chocolate mix until lump-free.</li>
      <li>In a bowl, blend butter and sugar for 4-5 minutes.</li>
      <li>Add eggs, one at a time, and blend until smooth and creamy.</li>
      <li>Alternatively, add dry ingredients and chocolate mixture and blend until well combined.</li>
      <li>Pour mixture into prepared pans.</li>
      <li>Bake for 50-60 minutes until done.</li>
      <li>Cool cake for 25 minutes. Demould and cool completely. Place cake on a serving tray. Apply whipped cream on top. Place another cake on top.</li>
      <li>Now do whipped cream frosting, smooth it and freeze cake for 4-5 hours. This is an essential step.</li>
      <li>Using the double boiler method, melt chocolate and cream. Whisk until lump-free.</li>
      <li>Cool slightly. Sieve this chocolate mixture so that any lumps remaining should be taken off.</li>
      <li>While chocolate mixture is still lukewarm, add glaze gel and mix well.</li>
      <li>Divide mixture into 3 bowls, the first being the largest, second medium, and third bowl, a little chocolate. In the third bowl, add red food coloring and mix well.</li>
      <li>In the second bowl add white color and red color. Mix well.</li>
      <li>In the first bowl, add white color and mix well.</li>
      <li>In case the mixture had started thickening, you can microwave it and bring it to room temperature.</li>
      <li>Now take the frozen cake out. Place a tin over a big tray.</li>
      <li>Place cake over the tin.</li>
      <li>Now add the white mixture to mix white red mixture and without mixing start pouring it over the cake until the cake is well covered.</li>
      <li>Now add a little red color mixture and using a spatula lightly glaze it.</li>
      <li>Any leftover mixture can be chilled for 1 month.</li>
      <li>Use any food coloring for glazing the cake.</li>
      <li>Now chill the cake for 2-3 hours.</li>
      <li>Slice and serve.</li>
    </ol>
  </div>