<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://t4.ftcdn.net/jpg/02/75/77/49/360_F_275774980_myl2ECHEUYep5fq6RcaB9oxY0Ov00xvd.jpg" alt="Car Logo" height="100px" width="250px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="addrecipe">Add Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">DashBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="recipe">Recipes</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
            <ul class ="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="login">Logout</a>
                </li>
            </ul>
         </form>
           
        </div>
    </div>
</nav>
