.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .ingredients ul,
  .directions ol {
    padding-left: 20px;
    margin-bottom: 30px;
  }
  
  .ingredients li {
    margin-bottom: 10px;
    list-style-type: none;
  }
  
  .ingredients li input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .directions ol {
    counter-reset: list-item;
  }
  
  .directions li {
    font-size: 16px;
    margin-bottom: 10px;
    list-style-type: none;
  }
  
  .directions li:before {
    content: counter(list-item);
    counter-increment: list-item;
    position: absolute;
    left: -30px;
    top: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #fbb9b9;
    color: #fff;
  }
  .rating {
    display: inline-block;
    margin-top: 20px;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
  }
  
  .rating input[type="radio"]:checked ~ label {
    color: #ffc107;
  }
  