<div>
    <h1>INGREDIENTS</h1>
    <ul>
        <li>1 cup rice</li>
        <li>2 tsp ghee</li>
        <li>1 tsp salt</li>
        <li>1 cup boiled rajma (red kidney beans)</li>
        <li>2 onions</li>
        <li>2 tomatoes</li>
        <li>2 green chillies</li>
        <li>2 tsp ginger</li>
        <li>6 garlic cloves</li>
        <li>4 tsp oil</li>
        <li>1 tsp cumin seeds (jeera)</li>
        <li>2 tsp red chilli powder</li>
        <li>2 tbsp coriander powder</li>
        <li>1 tsp garam masala</li>
        <li>1 tsp sugar (optional)</li>
        <li>1 lemon (juiced)</li>
        <li>2 tsp coriander leaves</li>
        <li>1 tsp turmeric powder (haldi)</li>
      </ul>   
</div>

<div>
    <h1>DIRECTIONS</h1>
    <ul>
        <li>Cook rice in hot water. Add salt and ghee.</li>
        <li>Make a paste of onion, tomato, ginger, garlic, and chilli.</li>
        <li>Heat oil in a pan, add cumin seeds (jeera). When jeera splutters, add the paste and roast.</li>
        <li>After 4 minutes, add spices and roast until they release oil.</li>
        <li>Add 2 cups of water and boiled rajma (kidney beans). Cook until everything incorporates well.</li>
        <li>Add garam masala and amchur powder.</li>
        <li>Optional: Add sugar and lemon juice.</li>
        <li>Garnish with coriander leaves.</li>
        <li>Give to your kid in a tiffin with rice and fryums.</li>
      </ul>
      
</div>
