<div>
    <h1>INGREDIENTS</h1>
    <ul>
        <li>Broccoli - 1 cup (florets)</li>
        <li>Potato - 1 medium sized</li>
        <li>Onion - 1 small sized</li>
        <li>Ginger - 1 small piece</li>
        <li>Turmeric powder - 1/2 tsp</li>
        <li>Garam masala powder - 1 tsp</li>
        <li>Bread crumbs / Bengal gram flour / sooji or rava - 3 tbsp</li>
        <li>Coriander leaves - 1 handful</li>
        <li>Lemon juice - 1 tsp</li>
        <li>2 tbsp oil for frying</li>
      </ul>      
</div>

<div>
    <h1>DIRECTIONS</h1>
    <ul>
        <li>Measure and keep all ingredients ready.</li>
        <li>Wash and pressure cook potato with a cup of water for 2 whistles.</li>
        <li>Once pressure released, mash the potatoes well and set aside.</li>
        <li>Wash and clean broccoli florets. Then soak them into hot water for 3 minutes. Dry them completely with a kitchen towel and keep it ready.</li>
        <li>Finely chop onions, coriander leaves, and ginger. Keep it ready.</li>
        <li>Mince the dried broccoli florets in a blender and keep it ready.</li>
        <li>Now in a wide bowl, add minced broccoli, mashed potatoes, coriander leaves, ginger, onion, salt, and Bengal gram flour/bread crumbs. Mix everything well and add lemon juice.</li>
        <li>Make sure there is no or less moisture in the dough. Then divide them into equal parts and roll them into patties.</li>
        <li>Then heat oil in a pan and shallow fry the cutlets in medium-low flame until golden brown on both sides. It takes at least 5 minutes to cook on each side.</li>
      </ul>
      
</div>
