<app-customerhome></app-customerhome>

<div class="container">
    <div class="row">
        <div class="column">
            <a routerLink="/veg">Veg-Items</a>
            <a routerLink="cake">Cakes</a>
        </div>
        <div class="column">
            <a routerLink="shakes">Shakes</a>
            <a routerLink="juice">Juices</a>
        </div>
        <div class="column">
            <a routerLink="icecreame">Icecreams</a>
            <a routerLink="non-veg">Non-Veg</a>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <a routerLink="fry">Fries</a>
            <a routerLink="sweet">Sweets</a>
        </div>
        <div class="column">
            <a routerLink="special">Continent-Special</a>
            <a routerLink="breakfast">Breakfast</a>
        </div>
        <div class="column">
            <a routerLink="snack-item">Snack-Items</a>
            <a routerLink="curry">Curries</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="recipe-section">
        <app-recipe></app-recipe>
    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>
