
<h1>Ingredients</h1>
<h1>Serves: 20</h1>
<ul>
    <li>Maida - 2 cups</li>
    <li>Baking powder - 1 tsp</li>
    <li>Baking soda - 1 tsp</li>
    <li>Vanilla essence - 1 tsp</li>
    <li>Olive oil - 1 cup</li>
    <li>Powdered sugar - 1 cup</li>
    <li>Whipped cream - 1 bowl</li>
    <li>Banana - 2</li>
    <li>Apple - 2</li>
    <li>Kiwi - 1</li>
    <li>Cherries - 15 pcs</li>
    <li>Mixed fruit jam - 2 tsp</li>
    <li>Oranges - 2</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Take a bowl and sieve maida, baking powder, and baking soda.</li>
    <li>In another bowl, add olive oil, sugar, and vanilla essence. Mix well with a whisker.</li>
    <li>Add the sugar batter mixture to the maida bowl and mix well, adding milk as needed.</li>
    <li>Grease and dust a round cake tin with maida, then pour the batter into it and tap the tin.</li>
    <li>Bake the cake in a preheated oven at 180 degrees Celsius for 45 minutes.</li>
    <li>After 45 minutes, let the cake cool and cut it into three parts. Apply whipped cream.</li>
    <li>In the whipped cream, add 2 tsp of mixed fruit jam and apply it to the cake.</li>
    <li>Arrange chopped banana, chopped apple, chopped kiwi, cherries, and oranges on the cake.</li>
    <li>Set the cake in the fridge. This cake is made for my grandson Tejas's 3rd birthday.</li>
</ol>