<h1>Ingredients</h1>
<h1>Serves: 1</h1>
<ul>
    <li>1 cup milk</li>
    <li>2 tsp condensed milk</li>
    <li>1 tbsp cream</li>
    <li>2 tbsp chopped almonds</li>
    <li>1 pinch saffron</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Heat milk in a pan.</li>
    <li>Add saffron and chopped almonds.</li>
    <li>Heat for 5 to 6 minutes.</li>
    <li>Add condensed milk and switch off the gas.</li>
    <li>Let it cool and add cream.</li>
    <li>Serve hot or chilled.</li>
</ol>