
<div>
<h1>NON-VEG</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let recipe of products">
      <div class="card">
        <img class="card-img-top" src="{{recipe.imgUrl}}" alt="Card image">
        <div class="card-body">
          <h3 class="card-title">Recipe Name: {{recipe.recipeName}}</h3>
          <h3 class="card-title">Description: {{recipe.recipeDescription}}</h3>
          <p class="card-text">Cooking Time: {{recipe.cookingTime}}</p>
          <p class="card-text">Type: {{recipe.categoryType}}</p>
          <div class="text-center">
            <a routerLink="{{recipe.recipeName}}" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
