<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div>
            <img src="assets/logo.jpg" class="img-fluid" alt="Logo" style="height: 100px ;width: 100px;">
        </div>
        <!-- <a class="navbar-brand" href="#">Recipe</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="aboutus">AboutUs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contactus">ContactUs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="privacy-policy">Privacy-Policy</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <ul class ="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="login">Logout</a>
                    </li>
                </ul>
             </form>
        </div>
    </div>
</nav>
