<div class="background-image">
  <div class="log">
    <form #registerForm="ngForm" (ngSubmit)="Register(registerForm.value)">
      <h2>Registration Form</h2>
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" ngModel #firstname="ngModel" name="firstname" required>
        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="error-message">
          <p style="color: red;">First Name is required.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" ngModel #lastname="ngModel" name="lastname" required>
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="error-message">
          <p style="color: red;">Last Name is required.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" ngModel #email="ngModel" name="email" required email>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
          <p style="color: red;">Please enter a valid email address.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ngModel #password="ngModel" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
          <p style="color: red;">Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" ngModel name="confirmPassword" required>
      </div>
   
      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
      <p>If you're already registered! <a routerLink="/login">Login</a></p>
    </form>
  </div>
</div>
