<h1>Ingredients</h1>
<h2>Set Up:</h2>
<ul>
    <li>Set up your work station and have all your ingredients ready and within reach including the store-bought wonton/dumpling wrappers.</li>
    <li>Set up a tray nearby to hold the dumplings. Dust it lightly with flour to stop the dumplings from sticking.</li>
</ul>

<h2>Assembly:</h2>
<ol>
    <li>Place half of the wonton wrappers on a clean, flat surface.</li>
    <li>Place a small, rounded spoonful of the filling in the centre of the first wrapper. Don’t overfill it as it will burst open when cooked.</li>
    <li>Use your finger to dab a little water around the edge of the wrapper.</li>
    <li>Fold wrapper in half and, using your thumb and index finger, pleat one edge, then press edges together to seal. Place, in a single layer, on tray.</li>
    <li>Repeat with remaining wrappers and filling. Dumplings can be made up to 6 hours in advance; store covered in the fridge or freeze on the tray, then place in a zip lock bag.</li>
    <li>Freeze for up to 1 month.</li>
</ol>

<h1>Directions</h1>
<h2>Steaming Dumplings:</h2>
<ol>
    <li>Line the bottom of a bamboo steamer with cabbage or lettuce leaves or baking paper.</li>
    <li>Place steamer in a wok or fit snugly over a pot of simmering water.</li>
    <li>Working in batches, arrange dumplings side by side (but not touching) in bamboo steamer.</li>
    <li>Cover and steam according to recipe instructions. Serve immediately with dipping sauce.</li>
</ol>

<h2>Frying Dumplings (Pot-Stickers):</h2>
<ol>
    <li>Heat a frying-pan over a medium heat. Coat pan with a little cooking oil.</li>
    <li>Place the dumplings on the frying pan, flat-side down and then turn the heat to high.</li>
    <li>Fry dumplings until the bottoms turn golden brown and crisp. Add a little water (2-3 tablespoons) to the pan and cover with lid immediately.</li>
    <li>Cook until water has evaporated and turn the heat to low. Cook the pot-stickers for another 2 minutes or so, dish out and serve hot with dipping sauce.</li>
</ol>
