
 
 
   .white-line {
    border: none; 
    height: 1px; 
    background-color: white; 
    width: 50px; 
    margin: 10px 0; 
  }

  .background-container {
    position: relative;
    height: 600px;

}

.background-image {
    width: 100%;
    height: auto;
}

.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    display: flex; 
    align-items: center;
}

.content-image {
  
    margin-right: 20px; 
    width: 350px;
    height: 500px;
}

.food-text {
    max-width: 600px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left; 
    font-size: 16px;
}

.food-h2 {
    color: black;

}
p{
    height: 100px;
}


.carousel-image{

    height: 500px;
    width: 100%;
}

.custom-navbar {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230817/pngtree-healthy-foods-and-recipes-with-a-lot-of-food-around-them-image_13024903.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
}
 .text{
  align-items: center;
  padding-left: 700px;
 } 
  
  /* .card{
    height:400px;
    width:100%;
  
    display:flex;
    flex-wrap: wrap;

  }
  .Box1{
    height:300px;
    width:450px;
    border:1px solid black;
    margin-top: 10px;
    margin-left: 30px;
  } */

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
  }
  .footer {
    background-color: #aaaaaa;
    color: #fff;
   
}

.footer nav {
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    display: inline;
    margin-right: 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

  .footer-logo {
    width: 100px; 
    
  }
  
  .footer-book {
    font-weight: bold;
    margin-left: 10px; /* Adjust as needed */
    padding-left: 20px;
  }
  
  .footer-text nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 500px;

  }
  
  .footer-text nav ul li {
    display: inline;
    margin-right: 20px; /* Adjust as needed */
    padding-right: 500px;
  }
  
  .footer-text p {
    margin: 0;
    padding-right: 500px;
  }
  