
<h1>Ingredients</h1>
<h2>Serves: 4</h2>

<ol>
    <li>2 big Potatoes</li>
    <li>2 cups Cooking oil for deep frying</li>
    <li>1 teaspoon Salt</li>
    <li>1/2 teaspoon Chilli powder</li>
    <li>1/4 teaspoon Garlic powder</li>
</ol>

<h1>Directions</h1>

<ol>
    <li>Clean and wash potatoes nicely and slice them with skin on. Make sure the slices are very thin, almost transparent.</li>
    <li>Wash the sliced potatoes several times to remove all the starch until the water runs clear.</li>
    <li>Drain the potato slices and soak them in ice-cold water for 30 minutes, adding 1/2 teaspoon of salt to the water.</li>
    <li>Meanwhile, in a bowl, mix 1/2 teaspoon of salt, 1/2 teaspoon of chili powder, and 1/4 teaspoon of garlic powder.</li>
    <li>After soaking, drain the potato slices again and wash them in clean water.</li>
    <li>Drain them and spread them out to dry, allowing any excess water to evaporate.</li>
    <li>Heat sufficient oil in a pan for frying the chips.</li>
    <li>Place some dry potato slices in the hot oil and fry them for about 40-50 seconds. Do not overcrowd the pan and fry on medium-high heat.</li>
    <li>Flip them in between and remove from oil as they change color and moisture evaporates. This should take about 40 seconds. Do not over-fry to avoid a bitter taste.</li>
    <li>Drain and spread them on a kitchen towel. Sprinkle some prepared seasoning while the chips are still hot.</li>
    <li>Repeat the process to fry all the potato chips, maintaining uniform heat throughout. Fry on medium-high heat.</li>
    <li>Delicious and crispy potato chips are ready. They taste just like store-bought chips. Make them for your kids during this lockdown period!</li>
</ol>