.container {
    max-width: 1800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  
  .ingredients,
  .directions {
    margin-top: 25px;
  }
  
  .ingredients ol,
  .directions ol {
    padding-left: 30px;
    margin-bottom: 30px;
  }
  
  .ingredients li,
  .directions li {
    font-size: 16px;
    margin-bottom: 10px;
    list-style-type: none;
    position: relative;
    margin-left: 30px;
  }
  
  .ingredients li:before,
  .directions li:before {
    content: counter(list-item);
    counter-increment: list-item;
    position: absolute;
    left: -30px;
    top: 0;
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    border-radius: 20%;
    background-color: #fbb9b9; 
    color: #fff;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fbb9b9;
    transition: transform 0.3s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.1);
  }
  .rating {
    display: inline-block;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
  }
  
  .rating input[type="radio"]:checked ~ label {
    color: #ffc107;
  }
  