<div class="container">
  
  <h1>INGREDIENTS</h1>
  <div class="ingredients">
      <ol>
          <li>85 gms butter for cake</li>
          <li>3/4 cups sugar</li>
          <li>3 nos eggs</li>
          <li>1 1/4 cups flour</li>
          <li>1 tsp baking powder</li>
          <li>1 pinch salt</li>
          <li>1/2 cup milk</li>
          <li>1/2 tbsp vanilla essence</li>
          <li>100 ml fresh cream for ganache</li>
          <li>150 gms bitter-sweet chocolate</li>
          <li>1 tbsp biscuits, peanut butter, or cornflakes for garnish (optional)</li>
      </ol>
  </div>

  <h1>DIRECTIONS</h1>
  <div class="directions">
      <ol>
          <li>Preheat oven to 200°C and grease the individual ramekins with butter.</li>
          <li>Beat butter and sugar together till it turns creamy.</li>
          <li>To it, beat in the eggs one by one till completely combined.</li>
          <li>Sift flour, baking powder, and salt.</li>
          <li>First, add dry ingredients (flour and salt), then add milk and vanilla essence, and finally end with the dry ingredients. Mix completely until it forms a smooth batter.</li>
          <li>Pour the batter into the ramekins and place in the preheated oven for 20 minutes or until a toothpick inserted comes out clean.</li>
          <li>For ganache, heat the cream till bubbles begin to appear at the top and pour over the chocolate. Mix.</li>
          <li>Take out the cakes from the oven and allow to cool in ramekins.</li>
          <li>Once cooled, place them upside down on a wire rack and pour the ganache over them.</li>
          <li>Decorate with biscuits, cornflakes, or peanut butter.</li>
      </ol>
  </div>
  <div class="social-icons">
    <a href="https://api.whatsapp.com/send?text=Check out this amazing recipe: [Your Recipe URL]" target="_blank">
        <img src="whatsapp-icon.png" alt="WhatsApp">
    </a>
    <a href="https://twitter.com/intent/tweet?text=Check out this amazing recipe: [Your Recipe URL]" target="_blank">
        <img src="twitter-icon.png" alt="Twitter">
    </a>
</div>

<div class="rating">
  <input type="radio" id="star1" name="rating" value="1">
  <label for="star1">&#9733;</label>
  <input type="radio" id="star2" name="rating" value="2">
  <label for="star2">&#9733;</label>
  <input type="radio" id="star3" name="rating" value="3">
  <label for="star3">&#9733;</label>
  <input type="radio" id="star4" name="rating" value="4">
  <label for="star4">&#9733;</label>
  <input type="radio" id="star5" name="rating" value="5">
  <label for="star5">&#9733;</label>
</div>


</div>
