<h1>Ingredients</h1>
<ul>
    <li>Serves: 4</li>
    <li>1 cup Khoya (Mawa)</li>
    <li>2 1/2 tablespoons All-purpose flour</li>
    <li>1/4 teaspoon Baking powder</li>
    <li>1/4 teaspoon Green cardamom</li>
    <li>1 1/2 tablespoons Water</li>
    <li>1 cup Ghee (clarified butter) or Oil, for deep frying</li>
    <li>1 1/2 cups White granulated sugar</li>
    <li>1 1/2 cups Water</li>
    <li>1/4 teaspoon Green cardamom seeds powder</li>
    <li>4 strands of kesar (saffron)</li>
    <li>2 teaspoons Rose water</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>If using frozen khoya, defrost and grate it. If using fresh khoya, crumble it.</li>
    <li>Add khoya in a bowl along with all-purpose flour, baking powder, and cardamom powder. Mix and pinch together.</li>
    <li>Add a teaspoon of water at a time and gather the mixture to make a firm dough ball. Do not knead or overwork.</li>
    <li>Make smooth (crack-free) balls using your palm. Refrigerate for 10 minutes.</li>
    <li>In a saucepan, combine sugar, cardamom powder, saffron, and water. Bring to a boil and simmer for 2-3 minutes to make a sticky syrup. Turn off the heat and set aside.</li>
    <li>Heat ghee or oil in a pan on medium-low heat for frying.</li>
    <li>Add a few balls in the oil. Fry till golden brown from all sides. Adjust the heat to maintain consistent oil temperature.</li>
    <li>Once fried, remove to a plate using a slotted spatula.</li>
    <li>Let the fried jamuns cool for 5 minutes.</li>
    <li>Reheat the sugar syrup until warm. Add fried balls to the warm syrup. Let them soak for 3-4 hours at room temperature.</li>
    <li>Ready to serve.</li>
</ol>
