<h1>Ingredients</h1>
<h1>Serves: 1</h1>
<ul>
    <li>1 mango</li>
    <li>1 cup cold milk</li>
    <li>1 tsp sugar</li>
    <li>1 tsp tutti frutti</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Mango ko chhilkar kat kar mixer me dale.</li>
    <li>1 tsp sugar aur 1 cup milk add kare aur barik pees le.</li>
    <li>Ek glass me tutti frutti dale aur ab mango sugar ka mixture dale.</li>
    <li>Tutti frutti dal kar mango milkshake serve kare.</li>
</ol>