<div class="container">
    <h1>Ingredients</h1>
    <div class="ingredients">
      <ol>
        <li>1 1/2 cups all purpose flour</li>
        <li>2 tbsp cocoa powder</li>
        <li>2 nos eggs</li>
        <li>1/4 cups oil</li>
        <li>1 tsp baking powder</li>
        <li>7 tbsp sugar</li>
        <li>1 1/2 cups milk</li>
        <li>1 tbsp vanilla essence</li>
      </ol>
    </div>
  
    <h1>Directions</h1>
    <div class="directions">
      <ol>
        <li>Get all the ingredients ready.</li>
        <li>Start by beating the eggs and the sugar first.</li>
        <li>Followed by the dry ingredients next.</li>
        <li>Add in the milk slowly and whisk everything well.</li>
        <li>Last but not the least, throw in some vanilla essence too.</li>
        <li>The batter should be thick and fluffy.</li>
        <li>Plug in the toaster and pour 2 big ice cream scoops of the batter in each depression of the sandwich toaster.</li>
        <li>Cover and let it cook for about 2 to 3 minutes in all.</li>
        <li>That's it! Tadaa! Fluffy, gorgeous, and chocolaty pancakes/cakes are ready in no time at all.</li>
        <li>Make them in batches and I could make as many as 4 in my toaster for a single batch. Happy Cooking!</li>
      </ol>
    </div>
  </div>
  