<h1>Ingredients</h1>
<h1>Serves: 2</h1>
<ul>
    <li>500 ml milk</li>
    <li>2 bananas</li>
    <li>2 tsp sugar</li>
    <li>4 tsp Bournvita or any other chocolate-flavored health drink powder</li>
    <li>4 almonds</li>
    <li>1 tsp cocoa powder</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Add all ingredients into a blender jar.</li>
    <li>Blend well until smooth.</li>
    <li>Serve the milkshake in glasses.</li>
</ol>