<h1>Ingredients</h1>
<h1>Serves: 2</h1>
<ul>
    <li>1 pizza base</li>
    <li>1/4 cup paneer (cottage cheese)</li>
    <li>1/4 cup mozzarella cheese</li>
    <li>1/4 cup sweet corn</li>
    <li>5-6 tomato slices</li>
    <li>2 tbsp tomato sauce</li>
    <li>1 tsp chilli flakes</li>
    <li>1 tbsp pizza sauce</li>
    <li>1 tsp oregano</li>
    <li>1/4 cup capsicum slices</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Spread a layer of butter on the pizza base followed by pizza sauce.</li>
    <li>Roughly crumble the paneer and chop green capsicum, tomato, and sweet corn.</li>
    <li>Add a layer of paneer, capsicum slices, and tomato slices on the pizza base.</li>
    <li>Now grate the cheese evenly all over the pizza.</li>
    <li>Bake the pizza at 180 degrees Celsius for 8-10 minutes.</li>
    <li>Garnish the pizza with chilli flakes, oregano, and tomato sauce.</li>
</ol>
