<h1>Ingredients</h1>
<h1>Serves: 7</h1>
<h1>For Heart-shaped Kebabs:</h1>
<ul>
    <li>1 cup boiled mashed potato</li>
    <li>1 cup grated carrot</li>
    <li>1/2 cup soya keema</li>
    <li>1/2 cup chana dal paste</li>
    <li>1/2 cup oats</li>
    <li>1/2 cup chopped onion</li>
    <li>1 tbsp chopped chillies</li>
    <li>1 tbsp chopped ginger garlic</li>
    <li>2 tbsp chopped coriander</li>
    <li>1/2 tbsp salt</li>
    <li>1 tbsp chaat masala powder</li>
    <li>1 1/2 cups maida slurry</li>
    <li>10-15 cashews</li>
    <li>1 cup breadcrumbs</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Mix all the ingredients except breadcrumbs and cashews properly.</li>
    <li>Shape it like a heart or your choice.</li>
    <li>Dip into maida slurry and coat with breadcrumbs.</li>
    <li>Press one cashew on each kebab.</li>
    <li>Shallow fry the kebabs and serve hot with ketchup.</li>
</ol>
