<div>
    <h1>INGREDIENTS</h1>
<ul>
    <li>1/2 kg Paneer</li>
    <li>3 Onions cut in fine slices</li>
    <li>4 Tomatoes boiled and chopped</li>
    <li>1/2 tsp turmeric powder</li>
    <li>1 and 1/2 tsp Poppy Seeds</li>
    <li>1 tbsp Coriander Seeds</li>
    <li>1 tbsp Fennel seeds</li>
    <li>1 tsp Cumin Seeds</li>
    <li>1 Cinnamon stick</li>
    <li>2 Cardamom</li>
    <li>4 to 5 Whole Cloves</li>
    <li>8 Dried Red Chillies</li>
    <li>8 Peppercorns</li>
    <li>15 to 18 Curry leaf</li>
    <li>1 Tbsp finely chopped ginger</li>
    <li>1 Tbsp finely chopped garlic</li>
    <li>1 cup fresh grated Coconut</li>
    <li>2 teaspoons lemon juice</li>
    <li>6 tbsp Oil</li>
    <li>1 tbsp fresh coriander for Garnishing</li>
    <li>1 tsp salt</li>
  </ul>
</div>


  <div>
    <h1>DIRECTIONS</h1>
  </div>
  