<h1>Ingredients</h1>
<h1>Serves: 4</h1>
<ul>
    <li>200 gms fresh cream</li>
    <li>150 gms condensed milk</li>
    <li>1/4 cup thandai paste</li>
    <li>1/4 cup almonds, cashews, and pistachios (chopped)</li>
    <li>1/4 tsp rose water</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>In a mixing bowl, add cream, condensed milk, and thandai paste. Mix well.</li>
    <li>Put the bowl into the freezer.</li>
    <li>After one hour, blend the mixture in a blender and freeze it again.</li>
    <li>Repeat this process 2-3 times.</li>
    <li>Now add rose water and chopped dry fruits to the mixture and let it freeze.</li>
    <li>After 2-3 hours, serve the thandai ice cream chilled.</li>
</ol>