
<h1>Ingredients</h1>
<h1>Serves: 1</h1>
<ul>
    <li>1 mango, sliced</li>
    <li>1/2 cup sugar</li>
    <li>4 ice cubes</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Wash the mangoes. Peel them and chop them into small pieces.</li>
    <li>Put the mango pieces into a blender and blend them until smooth.</li>
    <li>Serve the mango juice in a tall glass.</li>
</ol>