/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  h1, h2, h3, p {
    margin-bottom: 10px;
  }
  
  .ingredients, .directions {
    margin-bottom: 20px;
  }
  
  .ingredients ol, .directions ol {
    list-style-type: none;
  }
  
  .ingredients ol li, .directions ol li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .ingredients ol li input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .directions ol li .number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 20px;
  }
  
  .social-icons a {
    /* margin: 0 10px; */
    height: 3px;
  }
  
  .rating {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    font-size: 54px;
    color: #aaa;
    cursor: pointer;
  }
  
  .rating label:hover,
  .rating input[type="radio"]:checked ~ label {
    color: #ffcc00;
  }
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Set a background color for better visualization */
  }
  
  .content {
    text-align: center;
    max-width: 600px; /* Adjust the maximum width as needed */
  }