
<div>
    <h1>INGREDIENTS</h1>
    <ul>
        <li>Boiled Rice - 1 bowl</li>
        <li>Steamed Broccoli - 1 cup</li>
        <li>Steamed Sweetcorn - 1/2 cup</li>
        <li>Steamed Peas - 1/2 cup</li>
        <li>Steamed Chopped Carrot - 1/2 cup</li>
        <li>Salt - 1 tsp</li>
        <li>Red Chilli Powder - 1/2 tsp</li>
        <li>Dry Roasted Cumin Seeds - 1 tsp</li>
        <li>Chopped Spring Onion - 1 cup</li>
        <li>Chopped Spring Garlic - 1/2 cup</li>
        <li>Chopped Green Coriander - 2 tsp</li>
        <li>Oil - 1 tsp</li>
      </ul>     
</div>

<div>
    <h1>DIRECTIONS</h1>
    <ul>
        <li>Take a pan and add oil.</li>
        <li>Heat the oil and add cumin seeds, spring onion, and garlic. Sauté.</li>
        <li>Then add all the spices and all the steamed veggies. Mix well.</li>
        <li>Next, add boiled rice and stir for 2 minutes.</li>
        <li>Garnish with coriander and serve.</li>
      </ul>
      
</div>