<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="assets/logo.jpg" alt="Logo">
    </div>
    <nav class="footer-nav">
      <ul class="footer-links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        <li><a routerLink="/contactus">Contact Us</a></li>
      </ul>
    </nav>
    <p class="footer-text">&copy; 2024 Cook Book. All rights reserved.</p>
  </div>
</footer>
