<h1>Ingredients</h1>
<h1>Serves: 4</h1>
<ul>
    <li>1 cup thick curd or yogurt</li>
    <li>3/4 tsp cinnamon powder</li>
    <li>1 1/2 tbsp cocoa powder</li>
    <li>2 ripe bananas</li>
    <li>1/2 cup powdered sugar</li>
    <li>3 tbsp grated chocolate</li>
    <li>1/2 cup banana slices</li>
    <li>1/2 cup water (if required)</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Take a blender and add thick curd, cinnamon powder, cocoa powder, ripe banana, and powdered sugar. Blend until smooth.</li>
    <li>Pour the mixture into a bowl and add banana slices, grated chocolate, and water if required. Mix the lassi well.</li>
    <li>Refrigerate the lassi until chilled.</li>
    <li>Pour the chilled chocolate banana lassi into short glasses.</li>
    <li>Garnish with banana slices and chocolate gratings.</li>
</ol>