<h1>For the Filling:</h1>
<ul>
    <li>2 large boiled and peeled potatoes</li>
    <li>1 tsp jeera (cumin seeds)</li>
    <li>1 tsp salt (or more to taste)</li>
    <li>1/2 tsp red chilli powder</li>
    <li>1 tsp finely chopped green chillies</li>
    <li>2 tbsp chopped coriander leaves</li>
    <li>2 pinch hing (asafoetida)</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Knead maida with a pinch of salt, ajwain, and 1 tbsp of oil. The mixture should hold its shape. Add some water and make a tight dough. Rest aside.</li>
    <li>Mash the potatoes and add green chillies, red chilli powder, coriander leaves, jeera, and salt. Mix well.</li>
    <li>Take a portion of the dough and roll it using a rolling pin. Cut into two halves.</li>
    <li>Take one half and seal the edges with water so that it resembles the shape of a cone. Fill in the stuffing and seal the edges by applying water.</li>
    <li>Repeat for all the dough portions.</li>
    <li>Heat oil in a kadai. Deep fry the samosas till crisp and golden brown.</li>
    <li>Serve with any sauce.</li>
</ol>