<h1>Ingredients</h1>
<h1>Serves: 4</h1>
<ul>
    <li>Barley - 1/2 cup</li>
    <li>Dalia or broken wheat - 1/2 cup</li>
    <li>Urad dal - 1/4 cup</li>
    <li>Masoor dal - 1 tablespoon</li>
    <li>Moong dal - 1 tablespoon</li>
    <li>Chana Dal - 1 tablespoon</li>
    <li>Turmeric powder - 1/2 teaspoon</li>
    <li>Coriander powder - 1 teaspoon</li>
    <li>Red chilli powder - 1 teaspoon</li>
    <li>Salt to taste</li>
    <li>Cloves - 3</li>
    <li>Green cardamom - 4</li>
    <li>Black cardamom - 2</li>
    <li>Black pepper - 4</li>
    <li>Cinnamon stick - 1 inch</li>
    <li>Bay leaves - 2</li>
    <li>Mace - 2 blades</li>
    <li>Nutmeg powder - 1/4 teaspoon</li>
    <li>Mutton - 500 grams</li>
    <li>Ginger paste - 2 tablespoons</li>
    <li>Garlic Paste - 3 tablespoons</li>
    <li>Oil - 1/2 cup</li>
    <li>Ghee - 1/4 cup</li>
    <li>Onion - 2 medium-sized, sliced</li>
    <li>Garam masala (dry roast 3 green cardamoms, 2 black cardamoms, 1/2 inch cinnamon stick, 3 cloves, 1 blade of mace, a pinch of nutmeg, and grind)</li>
    <li>Coriander leaves - 1/4 cup (chopped)</li>
    <li>Lemon juice - 2 teaspoons</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Soak barley and dalia in a bowl with 1 cup water for 3 to 4 hours.</li>
    <li>Soak all the dals and rice in a bowl with 1 cup water for 3 to 4 hours.</li>
    <li>After 3 to 4 hours, cook barley and wheat in a pressure cooker with salt and 2 cups water. Cook for 2 whistles. After the pressure goes away, open the lid and let it cool for 30 minutes on low flame.</li>
    <li>Then cook all dals and rice in a pressure cooker with 1/2 cup water and little salt for 1 whistle.</li>
    <li>Take a big pan, add cooked barley and dalia mixture, and dal and rice mixture, mash it with a masher or spatula properly with the lid on.</li>
    <li>When mutton is cooked, drain the water through a strainer into a big bowl and keep the water aside.</li>
    <li>Heat oil in a pan, add 2 sliced onions, ginger garlic paste, cook until the raw smell goes away. Add mutton pieces, remaining spice powder, and salt. Cook on medium flame and then pour mutton stock. Bring it to a boil.</li>
    <li>Once it starts boiling, transfer the mutton into the pressure cooker and cook until 7 to 8 whistles.</li>
    <li>After cooking, mutton should be separated from the bone with a fork. Keep the bones aside.</li>
    <li>Add the mutton (without bone) into the barley, dalia, dal, and rice mixture, mix well.</li>
    <li>Let them boil until the water reduces to 3/4 of the portion.</li>
    <li>Heat ghee in a pan and pour the ghee into the haleem, mix well.</li>
    <li>Fry 2 sliced onions in 2 tablespoons of oil on medium flame until light brown, add this onions with oil into the haleem.</li>
    <li>Pour lemon juice, mix well, and serve.</li>
    <li>Transfer haleem into a serving bowl, garnish with chopped coriander leaves and fried sliced onion.</li>
</ol>
