
<h1>Ingredients</h1>
<h1>Serves: 3</h1>
<ul>
    <li>1 cup condensed milk</li>
    <li>2 cups mango pulp</li>
    <li>1/2 cup fresh cream</li>
    <li>2 cups milk</li>
    <li>3 chopped dry fruits</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Dry fruits ko chhodkar, sabhi ingredients ko ek bade bowl mein daalkar whip kare ya hand blender se chalaye.</li>
    <li>Ab container mein daalkar freezer mein 5-6 ghante ke liye rakhe.</li>
    <li>Freezer se nikal kar mixer mein grind kar le.</li>
    <li>Phir se container mein daale aur dry fruits se garnish kare, aur fir se 4-5 ghante ke liye freezer mein rakh de.</li>
    <li>Mango ice cream ban kar ready hai.</li>
</ol>