<header>
    <h1>About Us</h1>
    <nav>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/recipe">Recipes</a></li>
        <li><a routerLink="/contactus">ContactUs</a></li>
      </ul>
    </nav>
  </header>

  <div class="content">
    <section class="about">
      <h2>Our Story</h2>
      <p>Welcome to Cook Book! We are passionate about cooking and sharing delicious recipes with food enthusiasts from all around the world. </p>
        <p>Our journey began with a simple idea - to create a platform where people can discover, learn, and enjoy cooking.</p>
      <p>With years of culinary experience and a love for experimenting with flavors, we curate an extensive collection of recipes ranging from traditional dishes to modern twists. </p>
      <p>Our mission is to inspire and empower individuals to explore the culinary world and unleash their creativity in the kitchen.</p>
    </section>
    <section class="team">
      <h2>Our Team</h2>
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGlE-jJCbYw4kY2OE88PzB0QtO2jOIAhi1bCXy0G--B_aE0tKU6SH-9okt0CXitq6NuDY&usqp=CAU">
        <h3>LIKITHA</h3>
        <p>Head Chef</p>
      </div>
    </section>
    <section>
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTatiwOVdlwO1ffpWGcWebU076SSdvtKt1qhLFfXMhE9XuGGBwb2627eFurYsIyOCE4iBM&usqp=CAU" alt="Chef 2">
        <h3>DIVYA</h3>
        <p>Pastry Chef</p>
      </div>
    </section>
  </div>

  <footer class="footer">
      
    <div >
      <img src="assets/logo.jpg" class="footer-logo" alt="Logo">
    </div>
    <nav>
        <ul class="footer-links">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/privacy-policy">PrivacyPolicy</a></li>
            <li><a routerLink="/contactus">Contact Us</a></li>
        </ul>
    </nav>
    
    <h1>COOK BOOK</h1>
    <p>&copy; 2024 Cook Book. All rights reserved.</p>
</footer>

