/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-color:#aaaaaa;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    padding: 20px;
  }
  
  .about,
  .team {
    margin-bottom: 40px;
  
  }
  
  .about h2,
  .team h2 {
    margin-bottom: 20px;

   
  }
  
  .member {
    text-align: center;
  }
  
  .member img {
    border-radius: 20%;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #aaaaaa;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    padding-top: 50px;
  }
  p{
    font-size: large;
  }
  member{
    height: 200px;
    width:200px;
    border:1px solid black;
  }
  .lis{
    font-size: x-large;
    padding-bottom: 30px;
  }
h2{
  font-size: xx-large;
}
.footer {
    background-color: #aaaaaa;
    color: #fff;
    padding: 20px;
}

.footer nav {
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    display: inline;
    margin-right: 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
