<h1>Ingredients</h1>
<h1>Serves: 5</h1>
<ul>
    <li>2 cups basmati rice</li>
    <li>4 cups water</li>
    <li>2 tsp salt</li>
    <li>2 tbsp oil</li>
    <li>1 tbsp ghee</li>
    <li>4 onions</li>
    <li>50 g cashew nuts</li>
    <li>25 g raisins (kismis)</li>
    <li>1 inch ginger</li>
    <li>5 green chillies</li>
    <li>2 tomatoes</li>
    <li>2 tbsp minced coriander leaves</li>
    <li>1/4 tsp turmeric powder</li>
    <li>1/2 tsp garam masala powder</li>
    <li>2 tbsp curd</li>
    <li>1 tbsp lemon juice</li>
    <li>2 tbsp grated coconut</li>
    <li>500 g prawns</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Cook the rice in water by adding enough salt. Strain the water and keep aside.</li>
    <li>Fry the minced onion, cashew nuts, and raisins separately.</li>
    <li>Fry the minced ginger, green chilli, and tomato together. Add turmeric powder and garam masala powder.</li>
    <li>Add 2 tablespoons fried onion, curd, lemon juice, and salt to the fried masala mix above, and cook with the prawns.</li>
    <li>Grind the coconut, some cashew nuts, and coriander leaves. Add this mixture to the prawns mix. This is prawn masala.</li>
    <li>Take some prawn masala and spread it in a vessel. Then spread some rice over it. Repeat the process.</li>
    <li>Fry some cashew nuts and raisins in ghee and spread over the rice. Pour the leftover ghee over it and cover it for 10 minutes.</li>
</ol>