<h1>Ingredients</h1>
<h1>Serves: 2</h1>
<ul>
    <li>2 oranges</li>
    <li>1 lemon</li>
    <li>6-7 sprigs of sugar</li>
    <li>1 tsp salt (to taste)</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Peel oranges, remove seeds, and add pieces to a juicer.</li>
    <li>Extract juice and pour it into a glass jar.</li>
    <li>Squeeze lemon juice into the jar.</li>
    <li>Add sugar, salt, and ice. Stir until all the sugar dissolves.</li>
    <li>Pour the juice into mason jars and serve chilled.</li>
</ol>