<h1>Ingredients</h1>
<h1>Serves: 4</h1>
<ul>
    <li>200 g chicken sausage, thinly sliced</li>
    <li>100 g minced chicken</li>
    <li>2 tomatoes, pureed</li>
    <li>4-5 cloves garlic, crushed</li>
    <li>3 tsp oil</li>
    <li>1 tsp salt</li>
    <li>1 tsp peri peri masala</li>
    <li>1 tsp dried oregano, thyme</li>
    <li>2 cups all-purpose flour</li>
    <li>1/2 cup yogurt</li>
    <li>1 cup lukewarm water</li>
    <li>1 packet fruit salt</li>
    <li>3 tsp tomato ketchup</li>
    <li>1/2 cup grated mozzarella cheese</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>For pizza dough, mix water, flour, salt, yogurt, and fruit salt properly. Knead a soft dough with lukewarm water and let it rest for 1 hour.</li>
    <li>Divide the dough into 2 parts and roll out each part to 2 cm thickness. Bake for 12 minutes at 180°C and let it cool.</li>
    <li>For pizza sauce, heat oil in a pan. Add garlic and tomato puree, cook until water absorbs. Then add thyme, salt, oregano, minced chicken, and cook for 15 minutes. Add sliced sausage and cook for 5 minutes. Finally, add tomato ketchup and mix well.</li>
    <li>Take the baked pizza base, spread pizza sauce, add more sausage, and top it with cheese, dried thyme, oregano, and drizzle olive oil.</li>
    <li>Bake for another 12 minutes at 180°C.</li>
</ol>

