<h1>Ingredients</h1>
<h1>Serves: 6</h1>
<ul>
    <li>12 crabs (separate body and claws)</li>
    <li>1/2 cup grated coconut</li>
    <li>1 tsp salt (as required)</li>
    <li>2 tsp chilli powder</li>
    <li>1/4 tsp turmeric powder</li>
    <li>2 tsp turmeric powder</li>
    <li>1 onion, chopped</li>
    <li>4 tomatoes, chopped</li>
    <li>1 tsp garlic paste</li>
    <li>1 tsp garlic, chopped</li>
    <li>3 tbsp tomato puree</li>
    <li>1 tsp coriander powder</li>
    <li>2 green chillies</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Roast coconut in a pan until brown and let it cool down.</li>
    <li>Blend tomatoes, roasted coconut, garam masala, coriander powder, chilli powder, salt, garlic paste, tomato puree, and turmeric powder to a fine paste.</li>
    <li>In a pot, braise onion in 3-4 tablespoons of oil until browned.</li>
    <li>Add coconut paste, chopped garlic, and let it boil. Add little water and crabs, cook until done.</li>
    <li>Simmer to make it thick. Roast.</li>
    <li>Garnish with chopped coriander leaves and green chillies.</li>
</ol>
