<h1>Ingredients</h1>
<h2>Serves: 3</h2>

<ol>
    <li>1/2 tsp chilli powder</li>
    <li>2 nos potatoes, boiled and peeled</li>
    <li>1/4 cups chickpea, soaked and cooked</li>
    <li>1 tsp cumin powder</li>
    <li>1/2 tsp salt</li>
    <li>2 tsp chaat masala</li>
    <li>1/2 tsp dry mango powder</li>
    <li>4-5 nos coriander leaves</li>
    <li>1 piece ginger</li>
    <li>1 nos green chilli</li>
    <li>1/4 cups tamarind juice</li>
    <li>2 cups water</li>
</ol>

<h1>Directions</h1>

<ol>
    <li>Firstly, in a large bowl mash boiled potatoes.</li>
    <li>Furthermore, add cooked chickpeas.</li>
    <li>Also add cumin powder, chili powder, chaat masala, dry mango powder, and salt.</li>
    <li>Mix well and mash completely.</li>
    <li>Finally, masala is ready for stuffing.</li>
    <li>Secondly, in a blender jar take a fistful of coriander leaves and mint leaves.</li>
    <li>To that add ginger and green chili.</li>
    <li>Add little water and blend.</li>
    <li>Furthermore, filter it using a sieve.</li>
    <li>Add a cup more water to extract the juice from mint and coriander.</li>
    <li>Then add tamarind juice.</li>
    <li>Also add cumin powder, chaat masala, and salt.</li>
    <li>Give a good mix and pani is ready.</li>
    <li>Thirdly, take puri and make a hole at the center with the help of your thumb.</li>
    <li>Furthermore, stuff a teaspoon of prepared masala.</li>
    <li>Followed by finely chopped onions and sev.</li>
    <li>Then add a teaspoon of tamarind chutney.</li>
    <li>After that add pani into the puri.</li>
    <li>Finally, serve pani puri along with chopped onions.</li>
</ol>
