<p>fish-pickle works!</p>
<div>
    <h1>INGREDIENTS</h1>
    <ul>
        <li>500 gms sardine fish, cubed</li>
        <li>1 tsp turmeric powder</li>
        <li>3 tbsp Kashmiri chilli powder</li>
        <li>1 tsp salt (adjust to taste)</li>
        <li>1/2 cup oil</li>
        <li>1 tsp cumin seeds</li>
        <li>1 tsp fennel seeds</li>
        <li>1 tsp black mustard seeds</li>
        <li>1/2 tsp fenugreek seeds</li>
        <li>1 tbsp freshly ground ginger garlic paste</li>
        <li>10-12 garlic cloves, whole</li>
        <li>2 sprigs curry leaves</li>
        <li>1 tbsp crushed peppercorns</li>
        <li>3-4 tbsp white vinegar</li>
        <li>1 tbsp salt or as per taste</li>
      </ul>      
</div>

<div>
    <h1>DIRECTIONS</h1>
    <ul>
        <li>Wash the fish pieces and pat dry with a kitchen towel.</li>
        <li>Add the fish pieces to a bowl. Add salt, turmeric powder, and some chilli powder. Mix well and set aside for a few minutes.</li>
        <li>Heat the oil in a frying pan. Fry the fish until it is crispy on the outside. Drain and set aside.</li>
        <li>In the same oil, add the curry leaves, mustard seeds, cumin seeds, fennel seeds, and fenugreek seeds. Let them crackle.</li>
        <li>Add the ginger garlic paste and sauté for a minute.</li>
        <li>Add in the whole garlic cloves, Kashmiri chilli powder, and sauté for a minute.</li>
        <li>Add the fried fish, crushed peppercorns, season with salt, and mix well.</li>
        <li>Add the vinegar, gently stir, and cook for 3-5 minutes. Remove from heat and set aside.</li>
        <li>Let it cool down completely, then store in airtight glass jars and refrigerate for longer shelf life.</li>
      </ul>
      
</div>
