<div>
    <h2>Login Form</h2>
    <form (ngSubmit)="loginValidate(loginForm.value)" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <p>If you're not registered! <a routerLink="/register">Register</a></p>
    </form>
  </div>
  
  