<h1>Ingredients</h1>
<h1>Serves: 1</h1>
<ul>
    <li>1 watermelon</li>
    <li>1 teaspoon sugar</li>
    <li>1 teaspoon black pepper powder</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Blend watermelon, water, and sugar in a blender until smooth.</li>
</ol>