<p>everest-chole-masala works!</p>
<div>
    <h1>INGREDIENTS</h1>
    <ul>
        <li>2 cups boiled chana</li>
        <li>2 onions, chopped</li>
        <li>1 teaspoon garlic paste</li>
        <li>1 teaspoon chopped ginger</li>
        <li>1/2 cup tomato puree</li>
        <li>1 teaspoon salt (adjust to taste)</li>
        <li>1 teaspoon Everest chana masala</li>
        <li>1/2 teaspoon red chili powder</li>
        <li>1/2 teaspoon turmeric powder (haldi)</li>
        <li>3 teaspoons oil</li>
    </ul>
</div>

<div>
    <h1>DIRECTIONS</h1>
    <ul>
        <li>Take a wok and add oil.</li>
        <li>Add garlic and sauté until fragrant.</li>
        <li>Then add ginger and onion, sauté until brown.</li>
        <li>Add all the masalas and tomato puree, sauté for a few minutes.</li>
        <li>Next, add boiled chana and sauté for two minutes.</li>
        <li>Now, add water and bring it to a boil.</li>
        <li>Serve hot with boiled rice.</li>
    </ul>
</div>
