<h1>Ingredients</h1>
<h1>Serves: 3</h1>
<ul>
    <li>6 eggs</li>
    <li>1 onion, sliced</li>
    <li>1 cup grated dry coconut</li>
    <li>7 to 8 garlic cloves</li>
    <li>1 inch ginger</li>
    <li>3 teaspoons chili powder</li>
    <li>1/4 teaspoon turmeric powder</li>
    <li>4 teaspoons garam masala</li>
    <li>1 & 1/2 teaspoons salt</li>
    <li>2 teaspoons oil</li>
    <li>1 glass water</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Boil the eggs, peel them, and cut them into halves.</li>
    <li>Roast the onion and grated coconut until golden brown.</li>
    <li>Once cooled, blend the onion, coconut, ginger, and garlic with some water to make a fine paste.</li>
    <li>Take a microwave-safe glass bowl, add oil, and roast the paste on high power for 3 minutes.</li>
    <li>Add red chili powder, turmeric powder, garam masala, and salt to the paste. Microwave again for 2 minutes.</li>
    <li>Add water to the mixture and bring it to a boil for 3 minutes.</li>
    <li>Finally, add the boiled eggs and microwave for another 2 minutes.</li>
</ol>