
<h1>Ingredients</h1>
<h1>Serves: 4</h1>

<h2>For Bhoondi:</h2>
<ol>
    <li>2 cups kadalamavu/chickpea flour</li>
    <li>1/2 cup rice flour</li>
    <li>1 tsp chili powder</li>
    <li>1/2 tsp turmeric powder</li>
    <li>1/3 tsp asafoetida/kayam podi</li>
    <li>1/2 tsp salt</li>
    <li>1 cup water</li>
    <li>1/2 cup groundnuts/peanuts</li>
    <li>1/2 cup dal/kadalaparippu</li>
    <li>1/2 cup beaten rice/aval</li>
    <li>6 sprigs curry leaves</li>
</ol>

<h2>For Bhoondi Batter:</h2>
<ol>
    <li>3/4 cup kadalamavu/chickpea flour</li>
    <li>1/4 tsp chili powder</li>
    <li>1 pinch asafoetida/kayam podi</li>
    <li>1-2 pinches salt (to taste)</li>
    <li>1/2 cup water</li>
</ol>

<h2>For Mixing:</h2>
<ol>
    <li>2 tsp chili powder</li>
    <li>1/4 tsp kayam/asafoetida</li>
    <li>1 tsp salt</li>
</ol>

<h1>Directions</h1>

<h2>For Bhoondi:</h2>
<ol>
    <li>Make a thin batter using chickpea flour, chili powder, asafoetida, salt, and water.</li>
    <li>Heat oil and pour the batter through a slotted spoon with round holes.</li>
    <li>Wait till it turns slightly browned, then drain on a paper towel.</li>
    <li>Fry the groundnuts, beaten rice, dal, and curry leaves separately and drain on paper towels.</li>
</ol>

<h2>For Sev:</h2>
<ol>
    <li>In a bowl, mix chickpea flour, rice flour, chili powder, turmeric powder, asafoetida, and salt. Make a smooth dough using water.</li>
    <li>Using an idiyappam mold, press small balls of dough and press down in the mold.</li>
    <li>Heat oil in a pan and press down the mold to make circular swirls.</li>
    <li>Cook until lightly crisp on both sides, then drain on a paper towel. Repeat until all the dough is used.</li>
</ol>

<h2>To Mix:</h2>
<ol>
    <li>Crush the sev to your desired length and add all the fried bhoondis, groundnuts, dal, beaten rice, and curry leaves.</li>
    <li>Add chili powder, asafoetida, and salt. Toss well to coat everything evenly.</li>
    <li>Cool completely before storing in airtight containers.</li>
</ol>