
<h1>Ingredients</h1>
<h1>Serves: 4</h1>
<ul>
    <li>1 small pineapple</li>
    <li>2 cups water</li>
    <li>4 tbsp sugar</li>
    <li>1 tsp salt</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Wash and peel the pineapple.</li>
    <li>Mix it in a blender to form a puree.</li>
    <li>Filter the puree and transfer it to a bowl.</li>
    <li>Stir in sugar and salt to taste.</li>
    <li>Serve it cool.</li>
</ol>