<h1>Ingredients</h1>
<h1>Serves: 4</h1>
<ul>
    <li>2 cups maida</li>
    <li>1 tsp baking powder</li>
    <li>1 tsp baking soda</li>
    <li>2 tsp cocoa powder</li>
    <li>1/2 cup cooking chocolate</li>
    <li>1 cup butter</li>
    <li>1/2 cup sugar</li>
    <li>1 cup milk</li>
    <li>1 tsp vinegar</li>
    <li>1 cup walnuts</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>First sieve the maida, baking powder, and baking soda.</li>
    <li>In a pan, melt butter, milk, and sugar. Mix well.</li>
    <li>Melt chocolate and mix it into the milk mixture. Stir well.</li>
    <li>Pour the dry mixture into the wet mixture in portions. Add some finely chopped walnuts and mix well.</li>
    <li>Now take a baking dish, pour the mixture into it, and spread some walnuts on top.</li>
    <li>Bake for 30 minutes.</li>
</ol>

