.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .carousel {
    width: 80%; /* Adjust the width of the carousel */
  }
  
  .carousel-item img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Optional: Adjust carousel control button position */
  .carousel-control-prev,
  .carousel-control-next {
    top: 50%; /* Adjust the position vertically */
  }
  