<div>
    <h1>INGREDIENTS</h1>
    <ul>
        <li>4 cups fish pieces</li>
        <li>2 onions, chopped</li>
        <li>2 green capsicums, sliced</li>
        <li>2 green chillies, finely chopped</li>
        <li>1 piece ginger, finely chopped</li>
        <li>6 dry red chillies</li>
        <li>1 tablespoon soya sauce</li>
        <li>1 teaspoon salt (as required)</li>
        <li>4 tablespoons vegetable oil</li>
        <li>1/2 cup corn flour</li>
        <li>1/2 cup plain flour</li>
        <li>2 teaspoons red chilli powder</li>
        <li>2 teaspoons black pepper powder</li>
        <li>1 tablespoon spring onion leaves, chopped</li>
      </ul>
</div>

<div>

    <h1>DIRECTIONS</h1>
    <ul>
        <li>Marinate the fish pieces with red chilli powder, black pepper powder, and salt for 15 mins.</li>
        <li>Soak dry red chillies in warm water for 5 mins, grind into a fine paste, and keep aside.</li>
        <li>Make batter by mixing together corn flour, refined flour, red chilli powder, black pepper powder, salt, and sufficient water to make a thick batter.</li>
        <li>Heat oil for deep frying.</li>
        <li>Dip the fish pieces in the batter and drop into oil one by one. Fry all the pieces until golden brown. Drain and keep aside.</li>
        <li>Heat 2 tbsp oil in a wok, add ginger, garlic, and green chillies. Toss for a few seconds.</li>
        <li>Add onions and salt, sauté on high flame until onions turn translucent and crisp.</li>
        <li>Add capsicum and sauté until it becomes soft.</li>
        <li>Add 1/2 tsp black pepper powder and mix.</li>
        <li>Now add 1 tbsp Soya sauce and ground red chilli paste, mix well.</li>
        <li>Add cornflour mixed water at this stage to adjust the consistency.</li>
        <li>Add the fried fish pieces and mix well.</li>
        <li>Finally, sprinkle spring onion leaves and serve.</li>
      </ul>
      
</div>
