<div class="left-side">
    <p><a routerLink="veg">Veg-Items</a></p>
    <p><a routerLink="cake">Cakes</a></p>
    <p><a routerLink="shakes">Shakes</a></p>
    <p><a routerLink="juice">Juices</a></p>
    <p><a routerLink="icecreame">Icecreams</a></p>
    <p><a routerLink="non-veg">Non-Veg</a></p>

</div>


<div class="right-side">
    <p><a routerLink="fry">Fries</a></p>
    <p><a routerLink="sweet">Sweets</a></p>
    <p><a routerLink="special">Continent-Special</a></p>
    <p><a routerLink="breakfast">Breakfast</a></p>
    <p><a routerLink="Snack-Items">Snack-Items</a></p>
    <p><a routerLink="curry">Curries</a></p>
</div>