/* Styling for left side */
.left-side {
  float: left;
  width: 50%; /* Adjust width as needed */
}

/* Styling for right side */
.right-side {
  float: right;
  width: 50%; /* Adjust width as needed */
}

/* Styling for card container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards */
}

/* Styling for individual cards */
.card {
  position: relative;
  width: 300px; /* Adjust the width of the card as needed */
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 5px; /* Optional: Add border radius for image */
}

.card-title {
  font-size: 1.2rem; /* Adjust the font size of the card title */
  color: #fff; /* Optional: Change the color of the title */
  margin-bottom: 10px; /* Optional: Adjust margin bottom */
}

.card-text {
  color: #fff; /* Optional: Change the color of the text */
}

/* Styling for links */
a {
  display: inline-block; /* Change display to inline-block */
  padding: 10px; /* Add padding to create space around the text */
  margin-bottom: 10px; /* Adjust margin bottom */
  color: #000; /* Optional: Change the color of the links */
  text-decoration: none;
  border: 1px solid #000; /* Add border */
  border-radius: 5px; /* Add border radius */
}

a:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}
