<header>
    <div class="container">
      <h1>Contact Us</h1>
    </div>
  </header>

  <!-- Contact Form Section -->
  <section id="contact-form">
    <div class="container">
      <h2>Get In Touch</h2>
      <form action="#" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
        <button type="submit" class="btn">Send Message</button>
      </form>
    </div>
  </section>

  <!-- Contact Information Section -->
  <section id="contact-info">
    <div class="container">
      <h2>Contact Information</h2>
      <div class="info">
        <p><strong>Address:</strong> 123 Main Street, City, Country</p>
        <p><strong>Email:</strong>"info&copy;cookbook.com"</p>
        <p><strong>Phone:</strong> +12 3456 7890</p>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <nav>
        <ul class="lis">
          <li><a routerLink="/aboutus">AboutUs</a></li>
          <li><a routerLink="/contactus">ContactUs</a></li>
          <li><a routerLink="/privacy-policy">PrivacyPolicy</a></li>
        </ul>
      </nav>
      <p>&copy; 2024 Recipe Book. All rights reserved.</p>
    </div>
  </footer>
<p>contactus works!</p>
