/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #aaaaaa;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 40px 0;
}

h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color:#aaaaaa;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #aaaaaa;
}

.info p {
  margin-bottom: 10px;
}

footer {
  background-color: #aaaaaa;
  color: #fff; /* Color added here */
  text-align: center;
  padding: 20px 0;
}
.lis{
  font-size: x-large;
  padding-bottom: 30px;
}

