<div class="container">
    <h1>Ingredients</h1>
    <ol>
      <li>1 cup chopped fresh strawberries</li>
      <li>1/2 cup sliced fresh strawberries</li>
      <li>1 cup refined flour</li>
      <li>1/2 cup sugar</li>
      <li>1/2 cup sour cream</li>
      <li>1 tsp Sprig natural bourbon vanilla</li>
      <li>1/4 cup olive oil</li>
      <li>1 tsp baking powder</li>
      <li>1/2 tsp baking soda</li>
      <li>1 pinch salt</li>
      <li>1/4 cup for strawberry sauce: sugar</li>
      <li>1 cup chopped strawberries</li>
    </ol>
  
    <h1>Directions</h1>
    <ol>
      <li>In a large mixing bowl, using an electric hand mixer, beat egg with sugar on high speed for 5 minutes or until light in color and thick.</li>
      <li>Add sour cream, oil, vanilla and beat on low speed until well combined.</li>
      <li>In a small bowl, whisk together: flour, baking powder, baking soda and salt until well incorporated. Mix the dry ingredients into the wet ingredients in small batches and mix with the help of a spatula.</li>
      <li>Pour half of the batter into greased cake mould. Top with chopped strawberries then spread remaining batter over the top. Cover the surface with 6 halved strawberries, cut-side-down, pressing them down just slightly into the batter.</li>
      <li>Bake at 180 degrees in a preheated oven for 45-50 minutes, or until a toothpick inserted into the center comes out clean without wet cake batter.</li>
      <li>While the cake is baking, make the strawberry sauce: In a blender or food processor, combine chopped strawberries and sugar and blend until pureed.</li>
      <li>Let the cake come to room temperature before de-moulding. To serve, dust with powdered sugar if desired and drizzle individual slices generously with strawberry syrup.</li>
    </ol>
  </div>