<table border="2">
    <tr>
        <th>id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>email</th>
        <th>password</th>
    </tr>

<tr *ngFor="let e of EmployeeDetails" >
    <td>{{e.id}}</td>
    <td>{{e.firstName}}</td>
    <td>{{e.lastName}}</td>
    <td>{{e.email}}</td>
    <td>{{e.password}}</td>
    <td>
        <button (click)="deleteCustomerById(e.id)">Delete</button>
      </td>


</tr>
</table>


