<h1>Ingredients</h1>
<ol>
    <li>2 cups rice</li>
    <li>1 cup chopped gobhi (cauliflower) florets</li>
    <li>1 cup chopped carrot</li>
    <li>1 cup chopped beans</li>
    <li>1/2 cup sweet corn</li>
    <li>1 cup peas</li>
    <li>1 potato</li>
    <li>2 sliced onions</li>
    <li>1 tsp chopped garlic</li>
    <li>1 tsp jeera (cumin seeds)</li>
    <li>2 cloves</li>
    <li>1/2 tsp peppercorns</li>
    <li>1 brown elaichi (cardamom)</li>
    <li>1 cinnamon stick</li>
    <li>2 pinches hing (asafoetida)</li>
    <li>1/2 tsp red chilli powder</li>
    <li>2 pinches haldi (turmeric powder)</li>
    <li>1 tsp salt, as per taste</li>
    <li>2 tsp oil</li>
</ol>

<h1>Directions</h1>
<ol>
    <li>Take a bowl and add rice, washed and soaked.</li>
    <li>Chop the veggies.</li>
    <li>Coarsely grind the whole masala.</li>
    <li>Take a wok, add oil, heat it, then add hing and jeera. Let them crackle, then add garlic and onion, sauté.</li>
    <li>Add the coarsely ground masala, salt, and red chilli powder, and sauté.</li>
    <li>Then add the veggies and cover for 5 minutes.</li>
    <li>Once the veggies are half-done and soft, add rice and water, and cook the rice.</li>
    <li>After 10 minutes, when the rice is cooked, serve.</li>
</ol>
