<div class="image-container">
  <div class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div>
        <img src="assets/logo.jpg" class="img-fluid" alt="Logo" style="height: 100px ;width: 100px;">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="addrecipe">Add Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="showusers">Show Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="showitems">Show Items</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="login">Logout</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="column">
        <a routerLink="addrecipe">ADD-RECIPES</a>
        <a routerLink="showusers">SHOW USERS</a>
        <a routerLink="showitems">SHOW ITEMS</a>
      </div>
    </div>
  </div>
</div>
