.image-container {
    background-image: url("https://t4.ftcdn.net/jpg/01/05/72/61/360_F_105726195_r0MpL0Noxp2NeMh3RsRwCskbeL7ensjV.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Adjust as needed */
    padding: 100px 0; /* Adjust as needed */
  }
  
  .navbar {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust background color and opacity as needed */
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust background color and opacity as needed */
    padding: 20px;
    border-radius: 10px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .column a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .column a:hover {
    background-color: #ddd;
  }
  