
<h1>Ingredients</h1>
<h1>Serves: 4</h1>
<ul>
    <li>1 litre full-fat milk</li>
    <li>1/2 cup milk cream</li>
    <li>1/2 cup condensed milk</li>
    <li>1/4 cup vermicelli</li>
    <li>1/4 cup chopped dry fruits</li>
    <li>2 tbsp sugar</li>
    <li>1/4 tsp cardamom powder</li>
    <li>2 cups milk</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Boil milk in a heavy-bottom pan. Stir continuously. Once it reduces to 1/4th, add condensed milk and milk cream. Stir well. Boil for 5-7 minutes more. Switch off gas and let it cool.</li>
    <li>Once cooled, pour it into an ice cream box and keep it in the freezer for 7-8 hours.</li>
    <li>Meanwhile, heat a pan and dry roast vermicelli until golden. Add 2 cups of milk and stir well. Let it cook. Once vermicelli is tender, add sugar and cardamom powder. Cook until the vermicelli thickens. Switch off the gas and let it cool. Keep it in the fridge.</li>
    <li>When the ice cream is frozen, take it out.</li>
    <li>For serving: Take serving glasses. Pour 1 tbsp falooda (vermicelli), then 1 tbsp ice cream, again falooda, then pour ice cream. Garnish with chopped dry fruits.</li>
    <li>Enjoy chilled falooda with ice cream.</li>
</ol>
