<h1>Ingredients</h1>
<ul>
    <li>Serves: 3</li>
    <li>1 cup tur dal</li>
    <li>250 g ripe tomatoes, finely chopped</li>
    <li>1 onion, finely chopped</li>
    <li>2 green chillies (slit into half & seeded)</li>
    <li>10 curry leaves</li>
    <li>1 tsp cumin seeds</li>
    <li>4 garlic pods, crushed</li>
    <li>1 tsp oil</li>
    <li>1 tbsp ghee</li>
    <li>1 tsp mustard seeds</li>
    <li>1 tsp salt or to taste</li>
    <li>1 tsp red chilli powder</li>
    <li>2 whole dry red chillies</li>
    <li>1/2 tsp turmeric powder</li>
    <li>1 tsp sambar masala</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Wash and cook the tur dal in a pressure cooker for up to 2 whistles. Switch off the flame and allow the pressure to release by itself.</li>
    <li>Meanwhile, heat oil in a deep pan. Add crushed garlic, chopped onion, tomatoes, turmeric, red chilli powder, and green chillies. Cook for 2 minutes.</li>
    <li>Reduce the heat to low and let it simmer, stirring at regular intervals.</li>
    <li>Add the mashed tur dal and sambar masala. Let it simmer.</li>
    <li>For the tempering, heat ghee in a frying pan. Add mustard and cumin seeds. Stir on medium heat until they splutter. Add crushed garlic and stir-fry until golden brown.</li>
    <li>Add whole dry red chillies and curry leaves. Sauté for a minute.</li>
    <li>Pour the tempering over the simmering dal.</li>
    <li>Remove from heat and serve hot with rice.</li>
</ol>
