<div>
    <h2>Registration Form</h2>
    <form #registerForm="ngForm" (ngSubmit)="Register(registerForm.value)">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" ngModel #name="ngModel" name="firstname" [(ngModel)]="firstname" required>
    </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="lastname" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    <p>ifn your already register! <a routerLink="/login">login</a></p>
    </form>
  </div>
  