<h1>Ingredients</h1>
<h1>Serves: 6</h1>
<ul>
    <li>500 gm Wheat and barley (broken)</li>
    <li>500 gm Chana dal / split bengal gram</li>
    <li>100 gm Urad dal / split black gram</li>
    <li>100 gm Masoor dal</li>
    <li>100 gm Arhar dal / split red gram</li>
    <li>100 gm Rice</li>
    <li>1 kg Mutton</li>
    <li>4 Onion (sliced)</li>
    <li>4 tablespoons Ginger garlic paste</li>
    <li>3 teaspoons Red chilli powder</li>
    <li>3 teaspoons Turmeric powder</li>
    <li>4 Cinnamon sticks</li>
    <li>4 teaspoons Salt</li>
    <li>6 Bay leaves</li>
    <li>250 gm Oil</li>
    <li>1 tablespoon Garam masala powder</li>
    <li>1 cup Coriander leaves (chopped)</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>In a pressure cooker, add wheat and barley along with 1 teaspoon of turmeric. Pressure cook until soft and tender.</li>
    <li>In another pressure cooker, add chana dal, along with all other pulses and rice. Pressure cook until soft and tender for easy mashing.</li>
    <li>Heat oil in a cooker, add 2 tablespoons of onion and sauté until golden. Add cinnamon sticks, bay leaves, and mutton. Sauté for a while.</li>
    <li>Add ginger garlic paste, red chilli powder, turmeric powder, and salt. Mix well and add 1 or 2 cups of water. Pressure cook the mutton until soft.</li>
    <li>Open the lid of the pressure cooker, and sauté the mutton until oil separates from the sides.</li>
    <li>Remove the mutton from the cooker and keep it aside in another pan (this is for tempering).</li>
    <li>In a large pot, add the cooked wheat and barley, and mash well. Add the cooked chana dal mixture and mix well.</li>
    <li>Add the sautéed mutton masala to the pot and mix well over low flame.</li>
    <li>In a separate pan, sauté the remaining onion until brown. Remove from oil and make a paste.</li>
    <li>Add the onion paste to the mixture and mix well.</li>
    <li>Add garam masala, green chillies, and chopped coriander. Mix well and stir continuously.</li>
    <li>Once it comes to a boil, turn off the flame.</li>
    <li>Heat the remaining oil in a pan and pour it over the haleem.</li>
    <li>Serve hot with lemon juice.</li>
</ol>
