/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-color: #aaaaaa;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 40px 0;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #aaaaaa;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  