<h1>Ingredients</h1>
<h1>Serves: 2</h1>
<ul>
    <li>Seeraga samba rice - 2 cups</li>
    <li>Water - 8 cups</li>
    <li>Mixed vegetables - 1 cup</li>
    <li>Salt - 1 tsp</li>
    <li>Cloves - 4</li>
    <li>Bay leaf - 1</li>
    <li>Oil - 3 tsp</li>
    <li>Chilli powder - 1 tsp</li>
    <li>Turmeric powder - 1 tsp</li>
    <li>Green chilli - 1</li>
    <li>Onion - 1</li>
    <li>Tomato - 1</li>
    <li>Cinnamon - 1 piece</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Heat oil in a pan and add cloves, cinnamon, and bay leaf for seasoning.</li>
    <li>Then add chopped onion, tomato, green chilli, and salt. Fry until they change color.</li>
    <li>Add mixed vegetables (carrot, beans, etc.), turmeric, and chilli powder. Fry well.</li>
    <li>Finally, add rice along with required water.</li>
    <li>After 5 whistles, it is ready to serve.</li>
</ol>
