<h1>Ingredients</h1>
<h1>Serves: 2</h1>
<ul>
    <li>2 cups milk</li>
    <li>1 cup sugar</li>
    <li>4 tbsp falooda sev</li>
    <li>1 tbsp pistachio syrup</li>
    <li>1 tbsp strawberry syrup</li>
    <li>2 scoops chocolate ice cream</li>
    <li>2 tbsp dry fruits</li>
    <li>2 tbsp basil seeds</li>
    <li>1 tbsp chocolate chips</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Add falooda sev in water and cook in the microwave for 2 minutes. Strain and keep aside.</li>
    <li>Soak basil seeds in 1 cup of water for 15 minutes.</li>
    <li>Take tall glasses. Apply chocolate syrup at the rim and at the bottom.</li>
    <li>Now add falooda sev and strained basil seeds.</li>
    <li>Add milk and chocolate chips.</li>
    <li>Arrange dry fruits and ice cream scoops on top.</li>
    <li>Drizzle some more strawberry syrup and pistachio syrup. Serve chilled.</li>
</ol>
