<h1>Ingredients</h1>
<h1>Serves: 2</h1>
<ul>
    <li>2 cups milk</li>
    <li>1 cup sugar</li>
    <li>5 strawberries</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>In a blender, add milk, sugar, and chopped strawberries.</li>
    <li>Blend everything until smooth.</li>
    <li>Pour the mixture into a container, cover, and keep it in the freezer to set.</li>
    <li>When the ice cream is almost set, break it into parts with a knife and add them back into the blender.</li>
    <li>Blend until the mixture is smooth and slightly doubled up.</li>
    <li>Pour the mixture back into the container and keep it in the freezer until fully set.</li>
    <li>Once fully set, scoop out and serve the strawberry ice cream plain or topped with your favorite sauce.</li>
</ol>