<h1>Ingredients</h1>
<ul>
    <li>Serves: 4</li>
    <li>4 rotis (wheat)</li>
    <li>1 tsp oil</li>
    <li>1 tbsp red chilli powder</li>
    <li>1 tsp pepper</li>
    <li>Pinch of salt, as per taste</li>
    <li>1 spring onion</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Take the rotis and fry them in oil until they are crisp. Remove from oil.</li>
    <li>When slightly cooled down, add the spices and chopped spring onions.</li>
    <li>Finally, ready to serve.</li>
</ol>
