<p>pasta works!</p>
<div>
    <h1>INGREDIENTS</h1>
    <ul>
        <li>250 gms pasta</li>
        <li>1 onion, chopped</li>
        <li>2 tomatoes, chopped</li>
        <li>4 green chillies, chopped</li>
        <li>1 bowl chopped coriander leaves</li>
        <li>1 tbsp oil</li>
        <li>1/2 tsp salt</li>
        <li>1 tbsp tomato sauce</li>
      </ul>   
</div>
<div>
    <h1>DIRECTIONS</h1>
    <ul>
        <li>Take a container and add 1/2 liter of water to it.</li>
        <li>Cook pasta in the water. It will be ready in 10 minutes. Now, take out the pasta from the water.</li>
        <li>Take oil in a pan and add chopped onion, chilli, and tomato to it. When it gets brown, add the cooked pasta to it.</li>
        <li>Now add coriander leaves, salt, and tomato sauce to it, and mix well.</li>
        <li>Now serve it... yummy!!</li>
      </ul>      
</div>