<p>tomato-rice works!</p>
<div>
    <h1>INGREDIENTS</h1>
    <ul>
        <li>3 chopped tomatoes</li>
        <li>1 cup cooked rice</li>
        <li>10-12 curry leaves</li>
        <li>2 dry red chillies</li>
        <li>1 tsp mustard seeds</li>
        <li>1/2 tsp cumin seeds (jeera)</li>
        <li>2 tsp ginger garlic paste</li>
        <li>1 tsp red chilli powder</li>
        <li>1 tbsp sambar powder</li>
        <li>1 tsp salt</li>
        <li>1 tbsp refined oil or ghee</li>
      </ul>  
</div>
<div>
    <h1>DIRECTIONS</h1>
    <ul>
        <li>Heat a pan, add refined oil.</li>
        <li>Add the mustard seeds, cumin seeds (jeera), dry red chillies, and curry leaves.</li>
        <li>Once they splutter, add the chopped tomatoes and stir.</li>
        <li>Add the ginger garlic paste, salt, and red chilly powder. Cook on low flame with the lid on.</li>
        <li>Once the tomatoes are mushy, add the sambar powder and cook until done. Add water if the masala tends to get dry.</li>
        <li>Mix the cooked rice and serve.</li>
      </ul>
      
</div>