<h1>Ingredients</h1>
<p>Serves: 12</p>
<h2>For Dough:</h2>
<ul>
    <li>1½ cup maida / plain flour</li>
    <li>1/2 tsp salt</li>
    <li>1 cup water for kneading</li>
    <li>1 tbsp oil for greasing</li>
</ul>
<h2>For Stuffing:</h2>
<ul>
    <li>3 tsp oil</li>
    <li>3 cloves garlic, finely chopped</li>
    <li>1 inch ginger, finely chopped</li>
    <li>2 chillies, finely chopped</li>
    <li>4 tbsp spring onion</li>
    <li>1 cup carrot, grated</li>
    <li>2 cups cabbage, shredded</li>
    <li>1/2 tsp crushed pepper</li>
    <li>1/2 tsp salt</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Firstly, prepare the stuffing by heating 3 tsp oil and sautéing 3 cloves garlic, 1 inch ginger, and 2 chillies.</li>
    <li>Also, add 2 tbsp spring onion and sauté on high flame.</li>
    <li>Further, add 1 cup grated carrot and 2 cups shredded cabbage. Stir fry on high flame.</li>
    <li>Now add 1/2 tsp crushed pepper and ½ tsp salt.</li>
    <li>Additionally, add 2 tbsp spring onion and the stuffing mixture is ready.</li>
    <li>Further, pinch a small ball-sized momos dough and flatten.</li>
    <li>Now dust with some maida and start to roll using a rolling pin.</li>
    <li>Roll to almost medium thin circle, around 4 – 5 inches in diameter. Make sure you roll from sides and keep the centre slightly thick.</li>
    <li>Now place a heaped tbsp of prepared stuffing in the centre.</li>
    <li>Start pleating the edges slowly and gather everything.</li>
    <li>Press in the middle and seal the momos forming a bundle.</li>
    <li>Heat a steamer and arrange the momos in the tray without touching each other.</li>
    <li>Furthermore, steam momos for 10-12 minutes or till a shiny sheen appears over them.</li>
    <li>Finally, veg momos recipe is ready to enjoy with momos chutney.</li>
</ol>
