<div>
    <h1>INGREDIENTS</h1>
    <ul>
        <li>1 cup basmati rice</li>
        <li>2 whole garam masala:</li>
            <li>Cardamom - 3-4 pods</li>
            <li>Cloves - 3-4</li>
            <li>Shahi jeera - 1 tsp</li>
            <li>Cinnamon - 1 tsp</li>
            <li>Bay leaf - 1</li>  
        <li>2 onions, thinly sliced</li>
        <li>1 tbsp ginger garlic paste</li>
        <li>2 tomatoes, pureed</li>
        <li>1 tsp red chilli powder</li>
        <li>1 tsp coriander powder</li>
        <li>1/4 tsp garam masala powder</li>
        <li>1/4 tsp turmeric powder</li>
        <li>7-8 cashew nuts</li>
        <li>7-8 raisins</li>
        <li>1 tsp salt, to taste</li>
        <li>1/4 sprig coriander leaves</li>
        <li>2 tbsp oil</li>
        <li>1 tbsp ghee</li>
        <li>1/2 lemon, juiced</li>
        <li>For making gatta:</li>
            <li>1 cup besan (gram flour)</li>
            <li>1 tsp chilli powder</li>
            <li>1/4 tsp turmeric powder</li>
            <li>1 tsp salt, to taste</li>
            <li>1/4 tsp carom seeds</li>
        <li>2 cups oil, for frying</li>
      </ul>   
</div>

<div>
    <h1>DIRECTIONS</h1>
    <ul>
        <li>Make a dough with besan by adding turmeric powder, salt, chilli powder, a little oil, and carom seeds. Give it a rest for 10-15 minutes.</li>
        <li>Keep water for boiling.</li>
        <li>Take the dough and make small balls, then roll them into cylinders.</li>
        <li>Drop the rolls into boiling water and let them boil for 10 minutes. Remove from water and let them cool.</li>
        <li>Heat oil in a kadai, cut the gattas neither too thin nor too thick, and fry them until golden brown.</li>
        <li>In another kadai, add oil and ghee, then add whole garam masala, cashews, raisins, and onions. Cook until the onion turns a light golden color.</li>
        <li>Now add ginger-garlic paste, stir, then add tomato puree.</li>
        <li>Add all the dry masalas and salt.</li>
        <li>Add water and lemon juice.</li>
        <li>Once the water starts boiling, add the soaked rice and cook on high flame until the water evaporates.</li>
        <li>Now add coriander leaves, reduce the heat, and cook on low flame for 5 minutes.</li>
        <li>Shahi gatta pulao is ready to serve with raita.</li>
      </ul>
      
</div>
