
<div class="container">
    <h1>Ingredients</h1>
    <ol>
      <li>2 eggs</li>
      <li>100 g castor sugar</li>
      <li>1 tbsp cocoa powder</li>
      <li>100 g flour</li>
      <li>100 g butter</li>
      <li>50 g melted chocolate</li>
      <li>1 scoop vanilla ice cream</li>
    </ol>
  
    <h1>Directions</h1>
    <ol>
      <li>Mix together butter and melted chocolate.</li>
      <li>Mix eggs, castor sugar, cocoa powder, and flour.</li>
      <li>Quickly whisk the mixture and mix well.</li>
      <li>Add the chocolate and butter mixture and mix well.</li>
      <li>Preheat the oven to 160°C.</li>
      <li>Pour the mixture into desired molds.</li>
      <li>Bake brownie batter at 160°C in a preheated oven in convection mode for 15 minutes.</li>
      <li>Sprinkle sugar in serving dish and unmold the brownies from molds. Serve with vanilla ice cream.</li>
    </ol>
  </div>
  