<div>
    <h1>INGREDIENTS</h1>
<ul>
    <li>1/2 kg Paneer</li>
    <li>3 Onions cut in fine slices</li>
    <li>4 Tomatoes boiled and chopped</li>
    <li>1/2 tsp turmeric powder</li>
    <li>1 and 1/2 tsp Poppy Seeds</li>
    <li>1 tbsp Coriander Seeds</li>
    <li>1 tbsp Fennel seeds</li>
    <li>1 tsp Cumin Seeds</li>
    <li>1 Cinnamon stick</li>
    <li>2 Cardamom</li>
    <li>4 to 5 Whole Cloves</li>
    <li>8 Dried Red Chillies</li>
    <li>8 Peppercorns</li>
    <li>15 to 18 Curry leaf</li>
    <li>1 Tbsp finely chopped ginger</li>
    <li>1 Tbsp finely chopped garlic</li>
    <li>1 cup fresh grated Coconut</li>
    <li>2 teaspoons lemon juice</li>
    <li>6 tbsp Oil</li>
    <li>1 tbsp fresh coriander for Garnishing</li>
    <li>1 tsp salt</li>
  </ul>
</div>


  <div>
    <h1>DIRECTIONS</h1>
    <ol>
        <li>Heat 1 Tbsp oil.</li>
        <li>Add and fry cumin seeds, coriander seeds, cinnamon, fennel seeds, cardamoms, whole red chilies, cloves, and peppercorns for a few seconds.</li>
        <li>Add chopped ginger and garlic, and fry for some more time.</li>
        <li>Once the ginger and garlic are lightly fried and the color slightly changes, add poppy seeds and fresh coconut. Fry for a minute on low flame. Discard 2 to 3 fried and roasted chilies for garnish. Add 2 tbsp hot water to soften the masalas.</li>
        <li>Keep the masala aside to cool.</li>
        <li>Once the masalas are cool, transfer them to a grinding jar and make a fine paste.</li>
        <li>Heat the remaining oil and fry chopped onions until translucent.</li>
        <li>Add turmeric, red chili powder, a few curry leaves, and the masala paste.</li>
        <li>Roast the masala on medium to low flame until oil separates on the surface. If needed, add a little amount of water in the masala for blending the flavors and making the curry delightfully fragrant.</li>
        <li>When the masala is nicely roasted and smells good, add chopped tomatoes and roast for a minute.</li>
        <li>Add paneer and sauté in the masala.</li>
        <li>Add salt and mix.</li>
        <li>If needed, add hot water to cook paneer.</li>
        <li>Once the paneer is done, switch off the gas.</li>
        <li>Add lemon juice and the leftover curry leaves, and mix.</li>
        <li>Serve hot and garnish with fresh coriander.</li>
      </ol>
      
  </div>
  