<div>
    <h1>INGREDIENTS</h1>
    <ul>
        <li>3 dried red chillies</li>
        <li>1 inch cinnamon stick</li>
        <li>2 cardamom pods</li>
        <li>3 cloves</li>
        <li>1 tablespoon poppy seeds</li>
        <li>1 teaspoon fennel seeds</li>
        <li>50 grams grated coconut</li>
        <li>2 teaspoons ginger</li>
        <li>10 curry leaves</li>
        <li>2 onions, finely sliced</li>
        <li>3 tomatoes</li>
        <li>500 grams chicken</li>
        <li>Pinch of salt to taste</li>
        <li>2 limes</li>
      </ul>
</div>

<div>
    <h1>DIRECTIONS</h1>
    <ul>
        <li>Take a pan and roast cumin seeds, poppy seeds, fennel seeds, dry red chillies, cinnamon stick, cardamom pods, cloves, and grated coconut.</li>
        <li>Grind the roasted spices to a fine powder.</li>
        <li>Heat oil in a pan and add curry leaves.</li>
        <li>Add the sliced onions and fry until they are light brown, then add the crushed garlic and ginger.</li>
        <li>Add the ground spices and star anise, fry for a minute.</li>
        <li>Add the tomatoes, turmeric powder, salt, and stir in the chilli powder.</li>
        <li>Add the chicken, cover, and leave to simmer on the lowest setting until it is tender, about 25 minutes.</li>
        <li>Once the chicken is cooked, squeeze lime and remove from heat.</li>
        <li>Garnish with coriander leaves.</li>
      </ul>
</div>
