/* style.css */

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    margin: 2px;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button.update {
    background-color: #008CBA;
  }
  
  button.update:hover {
    background-color: #005f79;
  }
  
  button.delete {
    background-color: #f44336;
  }
  
  button.delete:hover {
    background-color: #cc372d;
  }
  