<table border="2">
    <tr>
        <th>id</th>
        <th>imgUrl</th>
        <th>recipeName</th>
        <th>recipeDescription</th>
        <th>cookingTime</th>
        <th>categoryType</th>
    </tr>

<tr *ngFor="let e of Items" >
    <td>{{e.id}}</td>
    <td>{{e.imgUrl}}</td>
    <td>{{e.recipeName}}</td>
    <td>{{e.recipeDescription}}</td>
    <td>{{e.cookingTime}}</td>
    <td>{{e.categoryType}}</td>
    <td>
        <button (click)="updateItem(e)">Update</button>
        <button (click)="deleteItem(e.id)">Delete</button>
      </td>
</tr>
</table>