.card {
    width: 200px;
    height: 300px;
    perspective: 1000px; /* Perspective for 3D effect */
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s; /* Transition for flip animation */
    transform-style: preserve-3d; /* Ensure 3D effect */
}

.card:hover .card-inner {
    transform: rotateX(180deg); /* Flip on hover */
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Hide backface during flip */
}

.card-front {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(180deg); /* Initially flipped */
}
