<p>chettinadpotato works!</p>
<div>
    <h1>INGREDIENTS</h1>
    <ul>
        <li>300 grams boiled small potatoes</li>
        <li>1/4 cup mustard oil</li>
        <li>1 tablespoon urad dal</li>
        <li>1 teaspoon mustard seeds</li>
        <li>5 strands of curry leaves (curry patta)</li>
        <li>1 teaspoon salt</li>
        <li>1 teaspoon red chili powder</li>
        <li>1 teaspoon amchoor (dry mango powder)</li>
        <li>1 teaspoon turmeric powder</li>
        <li>1 chopped onion</li>
        <li>1 tablespoon ginger garlic paste</li>
      </ul>
</div>

<div>
    <h1>DIRECTIONS</h1>
    <ul>
        <li>Peel potatoes and keep aside.</li>
        <li>Heat oil in a wok.</li>
        <li>Crackle mustard seeds and urad dal.</li>
        <li>Add Kari Patta.</li>
        <li>Sauté ginger garlic paste and chopped onion.</li>
        <li>Add potatoes and sauté for 1 to 2 minutes.</li>
        <li>Add all dry masala.</li>
        <li>Cook with the lid on a slow flame for 10 minutes.</li>
        <li>Garnish with chopped coriander.</li>
        <li>Serve hot with roti or poori.</li>
      </ul>
</div>
