<h1>Ingredients:</h1>
<ul>
    <li>2 cups rice</li>
    <li>1 lemon-sized ball Tamarind</li>
    <li>1 tsp Mustard seeds</li>
    <li>1/4 cup Urad dal</li>
    <li>1/4 cup Chana dal</li>
    <li>1/4 cup Peanuts</li>
    <li>1/4 tsp Methi seeds</li>
    <li>1/4 cup Coriander seeds</li>
    <li>1/4 cup Sesame seeds</li>
    <li>1/4 tsp Hing (Asafoetida)</li>
    <li>3/4 tsp Turmeric powder</li>
    <li>10 to 15 Curry leaves</li>
    <li>8 to 10 Spicy red chillies</li>
    <li>1 tsp Salt</li>
    <li>1 tsp Cumin seeds</li>
    <li>8 Peppercorns</li>
</ul>

<h1>Directions:</h1>
<ol>
    <li>Dry roast the dals separately, then the coriander seeds and sesame seeds separately on medium flame. Remove on a plate.</li>
    <li>Dry roast the cumin and methi seeds with a pinch of hing.</li>
    <li>Dry roast the red chillies and peppercorns.</li>
    <li>Dry roast the tamarind too. Now cool all ingredients a bit and grind in the grinder with salt and turmeric.</li>
    <li>This powder has to be tempered.</li>
    <li>Heat a teaspoon of oil and roast the peanuts. Remove and keep aside.</li>
    <li>Add cumin, mustard, and curry leaves to the same pan and fry until the leaves are crisp. Add some broken red chillies too.</li>
    <li>Now add this tempering to the ground powder.</li>
    <li>Mix everything and store in an airtight container.</li>
    <li>You can make pulihara any time by mixing cooked rice with this powder. You can make large quantities of this powder and store.</li>
    <li>Whenever making pulihara, just heat some oil. Add a few tablespoons of powder. Mix cooked rice with it. If you want, you can add extra tamarind pulp or lemon juice and adjust salt for seasoning.</li>
</ol>
