.white-line {
    border: none; 
    height: 1px; 
    background-color: white; 
    width: 50px; 
    margin: 10px 0; 
  }

  .background-container {
    position: relative;
    height: 600px;

}

.background-image {
    width: 100%;
    height: auto;
}

.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    display: flex; 
    align-items: center;
}

.content-image {
  
    margin-right: 20px; 
    width: 350px;
    height: 500px;
}

.food-text {
    max-width: 600px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left; 
    font-size: 16px;
}

.food-h2 {
    color: black;

}
p{
    height: 100px;
}


.carousel-image{

    height: 500px;
    width: 100%;
}

.custom-navbar {
  background-image: url('https://media.istockphoto.com/id/607299402/photo/culinary-background-with-spices-and-recipe-book.jpg?s=612x612&w=0&k=20&c=IpEqVDztshwHdB6rnprLfOSbh1rtz8aKy5IUIWTmxzw='); 
  background-size: cover; 
  background-repeat: no-repeat; 
}