

  <!-- <div class="background-container">
    <img src="https://rayalaseemaruchulu.com/assets/images/cream-background.jpg" class="background-image" alt="Background Image" style="height: 700px;">

    <div class="content-overlay">
        
        <img src="https://rayalaseemaruchulu.com/assets/images/catering-hand.png" class="content-image">
        <div class="food-text">
           <p>Food Feast takes much pride in making life’s every occasion memorable with scrumptious delights of Telugu cuisine. From intimate social events such as wedding parties, fundraising organizations, and social clubs. </p>
           <br>
           <p>Our clients include corporations, to comprehensive corporate events for corporates such as Facebook, Wells Fargo, etc Food Feast has ensured happy taste buds, happy hearts and a happy tummy to every guest.
          </p>
          <br>
           <p>We offer a variety of options for menu styles including buffet catering. Menus integrate flavors, using local, seasonal, organic ingredients and always can be customised to include gluten-free, dairy-free, and vegetarian options.</p>
           <br>
           <br>
           <p><strong>IF YOU ARE LOOKING FOR DELICIOUS, WHOLESOME FOOD AND CATERING SERVICES THEN ​PLEASE CALL US ON 9502661484 OR EMAIL US AT INFO&#64;FOODFEAST.COM</strong>​</p>
        </div>
       
    </div>
    
</div> -->