<h1>Ingredients</h1>
<h1>Serves: 10</h1>
<ul>
    <li>1 cup Maida</li>
    <li>1/2 cup Curd</li>
    <li>1/2 cup Sugar</li>
    <li>1 teaspoon Baking powder</li>
    <li>1/2 teaspoon Baking Soda</li>
    <li>2 tablespoons Milk powder</li>
    <li>1/4 cup chopped Pineapple</li>
    <li>1 teaspoon Pineapple essence</li>
    <li>1/2 cup Pineapple juice</li>
    <li>1/2 cup Oil or Butter</li>
    <li>2 drops Yellow food colour</li>
    <li>4-5 tablespoons Pineapple glaze</li>
    <li>2-3 tablespoons Caramel</li>
</ul>

<h1>Directions</h1>
<ol>
    <li>Sieve maida, baking powder, and milk powder.</li>
    <li>Mix curd, baking soda, and sugar and keep aside for 5 minutes.</li>
    <li>Preheat the oven to 150°C.</li>
    <li>If using butter, whip it until light. If using oil, mix oil and pineapple essence in curd after five minutes.</li>
    <li>Now mix dry ingredients into wet in two batches and mix well.</li>
    <li>Add pineapple juice and make a smooth cake batter.</li>
    <li>Pour the batter into a greased baking tin and bake for 50 minutes or until a toothpick comes out clean. Take it out and let it cool down completely.</li>
    <li>For icing, add yellow food colour and pineapple essence to whipped cream.</li>
    <li>Cut the cake in two parts. Apply whipped cream, spread some pineapple pieces, and cover it. Then apply whipped cream all over the cake base.</li>
    <li>Lastly, add pineapple glaze on top of it and give a design by piping caramel. Serve decorated.</li>
</ol>
