/* Ensure card images have consistent height */
.card-img-top {
  height: 200px; /* Adjust as needed */
  object-fit: cover;
}

/* Center card content vertically */
.card-body {
  display: flex;
  flex-direction: column;
}

/* Align view button at the bottom */
.card-body .text-center {
  margin-top: auto;
}
